.inactive {
	background-color: #333;
}
.inactive:hover {
	background-color: #333;
}
.inactive .likes-count {
	color: #808080;
}
.test_slider .slick-dots li:last-child {
	font-size: 24px;
}
p.text {
	color: #fffffe;
	font-family: HelveticaNeueCyr;
	font-size: 17px;
}
.marginTop20 {
	margin-top: 20px;
}
.user_block_photo img {
	width: 70px;
	height: 70px;
}
.profile-social {
	font-size: 24px;
	color: #eee;
	line-height: 45px;
}
.help-block {
	font-size: 16px;
}
.list-view {
	margin: auto;
	width: 50%;
}
.item-challenge {
	display: inline-block;
	width: 300px;
	height: 200px;
	text-align: center;
}
.eauth {
	display: inline;
}
.eauth-service-link {
	padding: 0;
}
.eauth-service-link::before, .eauth-service-link::after {
	display: none!important;
}
.reg_screen_link .remove {
	display: inline-block;
	font-weight: bold;
	vertical-align: bottom;
	color: red;
	cursor: pointer;
}
.button-brown {
	display: inline-block;
	vertical-align: top;
	width: 144px;
	height: 43px;
	border: 1px solid #ab9675;
	background-color: #ab9675;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	text-align: center;
	line-height: 42px;
	color: #fff;
	font-family: BebasNeueRegular;
	font-size: 18px;
	margin-right: 15px;
}
.button-brown:hover {
	background-color:#907B5A;
	color: #fff;
}
.button-brown.black {
	background-color: #000;
}
.my-videos {
	float: right;
}
.ch_cp_sort_block_modal_img {
	width: 100%;
	min-width: 230px;
    position: relative;
    padding: 0;
    padding-top: 56.2061%;
}
.ch_cp_sort_block_modal_img.localPlayer {
	padding-top: 0;
}
.ch_cp_sort_block_modal_img .video {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.vote-button {
	background: url('../img/like.png') no-repeat 0 40%;
}
.ch_cp_sort_block_modal .vote-button {
	background: url('../img/like2.png') no-repeat;
}
.vote-button .likes-count {
	margin-left: 25px;
}
.ch_cp_sort_block_modal .vote-button .likes-count {
	margin-left: 40px;
}
.vote-button:hover {
	background-color: transparent;
}
.vote-button.inactive {
	background: url('../img/like_inactive.png') no-repeat 0 40%;
}
.ch_cp_sort_block_modal .vote-button.inactive {
	background: url('../img/like2_inactive.png') no-repeat;
}
@media screen and (max-width:420px){
	.my-videos {float: none;}
}
.footer_soc li a.soc_lnk {
	margin: 0;
}
.ch_cp_sort_form {
	width: initial;
}
#cb_game_table2, #cb_game_table3, #cb_game_table4, .game_block {
	display: none;
}
.ias-trigger a {
	color: #ffe;
	font-size: 18px;
}
.ch_res_block_img img {
	width: 70px;
	height: 70px;
}
.video-js {
	width: 100%;
	height: 100%;
}



.reg_screen_text {
	color: #fff;
	font-family: BebasNeueRegular;
	line-height: 20px;
    letter-spacing: 1px;	
}
.reg_screen_input {
	  color: #555;
	font-family: HelveticaNeueCyr;
	border: 1px solid #ab9675;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    padding-left:10px;
}
.ch_buttons {
	margin-top: 5px;
}
.reg_screen_plus {
	cursor: pointer;
	padding: 5px 22px;
    background-color: #ab9675;
    border: 1px solid #ab9675;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    line-height: 31px;
    color: #fff;
	font-family: BebasNeueRegular;
}
.reg_screen_input_div {
	font-size: 20px;
}
.reg_screen_plus:hover{color:#fff;background:#907B5A}
.form_plus_param {
	text-align: center;
}
@media screen and (max-width:5000px)  {.reg_screen_text {font-size: 18px;} .reg_screen_plus {font-size: 18px;} .reg_screen_input {font-size: 16px;width: 350px;}}
@media screen and (max-width:1600px)  {.reg_screen_text {font-size: 18px;} .reg_screen_plus {font-size: 18px;} .reg_screen_input {font-size: 16px;width: 316px;}}
@media screen and (max-width:1450px)  {.reg_screen_text {font-size: 17px;} .reg_screen_plus {font-size: 17px;} .reg_screen_input {font-size: 15px;width: 282px;}}
@media screen and (max-width:1280px)  {.reg_screen_text {font-size: 16px;} .reg_screen_plus {font-size: 16px;} .reg_screen_input {font-size: 14px;width: 235px;}}
@media screen and (max-width:1100px)  {.reg_screen_text {font-size: 15px;} .reg_screen_plus {font-size: 15px;} .reg_screen_input {font-size: 13px;width: 224px;}}
@media screen and (max-width:768px)   {.reg_screen_text {font-size: 14px;} .reg_screen_plus {font-size: 14px;} .reg_screen_input {font-size: 12px;width: 180px;}}